<% if @user.errors.any? %>
<p>error</p>
<% end %>


<div class="container">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-2">
		  <h2>User info</h2>
		  <%= form_for(@user) do |f| %>
            <h4>name</h4>
          <%= f.text_field :name %>
            <h4>image</h4>
            <%= f.attachment_field :profile_image, placeholder: "ファイルを選択", class: "user-edit-form" %>
            <h4>introduction</h4>
          <%= f.text_area :introduction %>
          <%= f.submit 'Update User' %>
	    </div>
    </div>
</div>
<% end %>