<!DOCTYPE html>
<html>
  <head class="clearfix">
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <nav class="navbar navbar-inverse ">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-text">Bookers</p>
        </div>
        <div class="collapse navbar-collapse">
           <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><a class="glyphicon glyphicon-home home" href="/">Home</a></li>
              <li><a class="glyphicon glyphicon-user" aria-hidden="true" href="/users/:id">Users</a></li>
              <li><a class="glyphicon glyphicon-book" aria-hidden="true" href="#">Books</a></li>
              <li><a class="glyphicon glyphicon-log-out" aria-hidden="true" href ="/users/sign_out" data-method="delete">logout</a></li>
            <% else %>
              <li><a class="glyphicon glyphicon-home" aria-hidden="true" href="/">Home</a></li>
              <li><a class="glyphicon glyphicon-link" aria-hidden="true" href="/homes">About</a></li>
              <li><a class="glyphicon glyphicon-edit" aria-hidden="true" href="/users/sign_up">Sign up</a></li>
              <li><a class="glyphicon glyphicon-log-in" aria-hidden="true" href="/users/sign_in">login</a></li>
            <% end %>
            </ul>
        </div>
      </div>
    </nav>
</header>
    <%= yield %>
  </body>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
</html>  
