<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header id="header" class="header">
      <div class="header-container">
        <nav class="header-left">Bookers</nav>
        <nav class="header-right">
          <ul>
            <li><%= link_to "Home", "/"  %></li>
            <li><%= link_to "About",     %></li>
            <li><%= link_to "sing up".   %></li>
            <li><%= link_to "login",     %></li>
          </ul>
        </nav>
      </div>
    </header><!-- /header -->
    <%= yield %>
  </body>
</html>
